@font-face {
	font-family: "Comfortaa";
    font-style: normal;
	font-weight: 400;
	src: url("../fonts/Comfortaa-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Open Sans";
    font-style: normal;
	font-weight: 400;
	src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
