/* ------- Colors ------- */
@import "colors";

/* ------- Fonts ------- */
@import "fonts";

/* ------- General Styles -------*/
body, .form-button{
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Comfortaa", sans-serif;
}

.section{
    max-width: 960px;
    width: 80%;
    margin: 0 auto;
}

.section-title{
    font-size: 3em;
    margin-bottom: 0.25em;
}

.section-title::after{
    content: "";
    display: block;
    width: 7.75em;
    height: 5px;
    background-color: $underline;
}

.uppercase{
    text-transform: uppercase;
}

.nav-title{
    display: none;
}

@media only screen and (min-width: 912px) {
    .flex-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

#contact{
    margin-top: 100px;
}

@import "form";
@import "button";
@import "footer";
