<<<<<<< HEAD
=======
/* ------- Colors ------- */
/* ------- Fonts ------- */
@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Comfortaa-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

body {
    
    
    background-color: white;
    justify-content: center;
     box-sizing: border-box;
    margin:0px;
    padding: 0px;
}
/* ------- General Styles -------*/
body, .form-button {
  font-family: "Open Sans", sans-serif;

}

h1, h2, h3, h4, h5, h6 {
  font-family: "Comfortaa", sans-serif;
}



#events{
    
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}


#uperevents{
    
    
    display: grid;
      grid-template-columns: auto auto auto auto;
      grid-gap: 10px;
      padding: 10px;
}

h2 {
    
    font-size: 3em;
    
}

#event_title{
    
    justify-content: center;
    margin-left: 40px;
    position: relative;
    display: inline-block;
    
    
}
#title_event:after{
    content: '';
    position: absolute;
    bottom: -7px;
    height: 4px;
    background-color: rgb(155,0,0);
    width: 80%;
    top: 95px;
    left :30px;
    
}

#date_grid{
    display: grid;
    grid-template-columns: 240px 240px 240px;
    grid-column-gap: 60px;
    justify-content: center;
    margin-top: 45px;
    
}

.date_topgrid{
    text-align: center;
    background-color: rgb(155,0,0);
    box-sizing: inherit;
    color: white;
    font-size: 1.2em;
    height: 30px;
    
    
}

.date_1row {
    
    box-shadow: 0px 3px 2px lightgray;
    
    justify-content: center;
    text-align: center;
}

.month_event{
    color:lightblue;
    font-size: 1.1em;
}

.day_event{
    
    font-weight: bold;
}

.descrp_event{
    font-size: 0.8em;
    color: lightgray;
    padding :15px;
}

.theme_event{
    display: inline-block;
    width: 130px;
    font-size: 0.9em;
    margin:auto;
    
}

.event_name{
    margin:5px;
   display: inline-block;
    height: 25px;
}

.section {
  max-width: 1100px;
  width: 80%;
  margin: 0 auto;
}

.section-title {
  font-size: 3em;
  margin-bottom: 0.25em;
}

.rectangle-underline {
  background-color: #9b0000;
  height: 5px;
  width: 23em;
}

.uppercase {
  text-transform: uppercase;
}

.nav-title {
  display: none;
}

.contact-form {
  padding: 3em 0;
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
}

.input-wrapper {
  margin: 1em 0;
  display: inline-block;
  width: 45%;
}

.form-label {
  font-size: 1.5em;
  display: block;
  margin: 0.5em 0;
}

.form-input {
  border-radius: 1em;
  border: 1px solid #9b0000;
  padding: 0.5em;
  width: 100%;
  max-width: 250px;
}

.form-textarea {
  max-width: 480px;
  height: 200px;
}

.button-wrapper {
  text-align: center;
}

.button {
  color: #af0102;
  background-color: white;
  transition: background-color 500ms ease;
  padding: 0.5em 1.5em;
  margin: 2em 0;
  border: 1px solid #af0102;
  border-radius: 16px;
  text-transform: uppercase;
  font-size: 1.5em;
}

.button:hover, .button:focus {
  color: white;
  background-color: #af0102;
  transition: background-color 500ms ease;
}

.footer {
  background-image: url("../images/swirl_pattern.png");
  background-repeat: repeat;
  text-align: center;
}

.footer-content-wrapper {
  max-width: 1100px;
  width: 80%;
  margin: 0 auto;
  padding: 3em 0;
}

.footer-text {
  font-size: 2.5em;
  margin-top: 0;
}

.social-link {
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 2.5em;
  padding: 0.25em;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  margin-right: 2em;
  transition: border-radius 500ms ease;
}

.social-link:hover, .social-link:focus {
  border-radius: 0 50%;
  transition: border-radius 500ms ease;
}

.social-link:last-child {
  margin-right: 0;
}

.linkedin {
  background-color: #007ab9;
}

.instagram {
  background-color: #6a453c;
}

.twitter {
  background-color: #55acef;
}

.facebook {
  background-color: #3b5999;
}

